---
const primaryColor = "#3e62ad"
---

<style define:vars={{ primaryColor }}>
  @import url("https://fonts.googleapis.com/css2?family=Sawarabi+Gothic&display=swap");
  * {
    box-sizing: border-box;
    font-family: "Sawarabi Gothic", sans-serif;
    line-height: 1.5;
  }
  html {
    background-color: #111;
  }
  body {
    background-color: #222;
    color: #ccc;
    margin: 0;
    padding: 0;
  }
  a {
    color: #bbd;
  }
  header {
    background-color: #111;
    padding: 1rem;
  }
  h1 {
    font-size: 1rem;
    margin: 0;
  }
  h2 {
    border-bottom: solid #ccc 1px;
    font-size: 2rem;
    padding: 0;
  }
  main {
  }
  section,
  nav,
  aside {
    margin: auto;
    max-width: 64rem;
  }
  section {
    padding: 4rem 1rem;
  }
  strong {
    color: var(--primaryColor);
    text-shadow: 1px 1px 1px rgba(224, 224, 224, 0.4);
  }
  .hero {
    background-image: url(/images/header.jpg);
    background-position: center;
    background-size: cover;
    height: calc(100vh - 4rem);
    padding: 15% 0;
  }
  table {
    width: 100%;
  }
  th,
  td {
    border-bottom: solid 1px #444;
    min-width: 4rem;
    padding: 0.5rem;
  }
  label {
    font-size: 0.9rem;
  }
  input,
  textarea {
    background-color: #222;
    border-radius: 2px;
    border: 1px solid #dbdbdb;
    color: #f0f0f0;
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 0.5rem;
    padding: 0.25rem 0.5rem;
    width: 100%;
    &:active,
    &:focus {
      appearance: none;
      border: 1px solid #999;
      outline: none;
    }
  }
  button {
    background-color: var(--primaryColor);
    border: none;
    border-radius: 0.2rem;
    color: #f0f0f0;
    cursor: pointer;
    display: block;
    line-height: 1.5;
    max-height: 2.5rem;
    padding: 0.5rem 1rem;
    width: 100%;
  }
  footer {
    background-color: #111;
    padding: 4rem 1rem;
    text-align: center;
  }
  .boxes {
    display: flex;
    gap: 3%;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: space-around; */
    .box {
      background: #333;
      border: solid 1px #f0f0f0;
      margin: 0.5rem 0;
      min-width: 320px;
      padding: 0 1rem 1rem;
      width: 48%;
    }
  }
  iframe {
    border: none;
    display: block;
    margin: 0.5rem auto;
  }
</style>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"
    />
    <meta
      data-hid="description"
      name="description"
      content="株式会社リロードは新しい可能性を提供するシステム会社です。"
    />
    <meta
      data-hid="og:site_name"
      property="og:site_name"
      content="株式会社リロード"
    />
    <meta data-hid="og:type" property="og:type" content="website" /><meta
      data-hid="og:url"
      property="og:url"
      content="https://reload.co.jp"
    />
    <meta data-hid="og:title" property="og:title" content="株式会社リロード" />
    <meta
      data-hid="og:description"
      property="og:description"
      content="株式会社リロードは新しい可能性を提供するシステム会社です。"
    />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@reload_co_jp" />
    <title>Reload, Inc.</title>
  </head>
  <body>
    <header>
      <nav>
        <h1>株式会社リロード - Reload, Inc.</h1>
      </nav>
    </header>
    <main>
      <div class="hero">
        <section>
          <h2>
            <strong>Reload</strong> provides new choice and new possibility.
          </h2>
          <p>
            株式会社リロードはシステムを通じて新しい選択肢と新しい可能性を与える会社です。
          </p>
          <p>
            リロード（reload）とは、「再び積み込む」という意味です。主にWebでは一度読み込んだデータを更新することを指します。
            株式会社リロードでは、リロードという言葉のように存在しているしくみ・サービスを再考し、刷新することを提案することで新しい選択肢と可能性を与えていくことを目指しています。
          </p>
        </section>
      </div>
      <section>
        <h2>Services</h2>
        <div class="boxes">
          <div class="box">
            <h3>Mobile Application Development</h3>
            <p>
              iOSアプリ、Androidアプリを中心にスマートフォンアプリケーションをバックエンドのウェブアプリケーションとともに設計開発を行っています。
            </p>
          </div>
          <div class="box">
            <h3>Web Application Development</h3>
            <p>
              コンシューマー向けサービスから社内向けツール、DX支援などフロントエンドからバックエンドを通してWebアプリケーションを用いた課題解決を行っています。
            </p>
          </div>
          <div class="box">
            <h3>Management Media</h3>
            <p>
              スマートフォンアプリケーションを中心に多数のコンシューマー向けサービスの企画・開発・運営を行っています。
            </p>
          </div>
          <div class="box">
            <h3>Consulting</h3><p>
              いままでのサービス開発の経験をもとに新規サービスのビジネスモデルからの検討や現状のビジネスの効率化を支援などの企画設計コンサルティングを行っています。
            </p>
          </div>
          <div class="box">
            <h3>Cafe</h3>
            <p>
              「仕事をしやすく、それでいて遊びやすいような場所」を目指し、神田でコワーキングカフェを運営しています。
            </p>
            <p>
              <a href="//fffff-cafe.com" target="_blank">FFFFF Cafe</a>
            </p>
          </div>
        </div>
      </section>
      <section>
        <h2>Works</h2>
        <div class="boxes">
          <div class="box">
            <h3>写真で一言ボケて</h3>
            <p>
              ユーザーの投稿した写真に対してユーザーがボケを投稿し評価し合う大喜利サービス
            </p>
            <p><a href="//bokete.jp" target="_blank">ボケて</a></p>
          </div>
          <div class="box">
            <h3>Aroma intelligence</h3>
            <p>匂いの計測データを用いて匂いの判別を行うアプリケーション</p>
          </div>
          <div class="box">
            <h3>商品検索ツール</h3>
            <p>リユース業界向けの社内買取実績の商品検索ツールの開発</p>
          </div>
          <div class="box">
            <h3>マッチングアプリ</h3>
            <p>
              iPhoneアプリ上で動作するマッチングアプリの開発・設計をバックエンドを含め開発
            </p>
          </div>
          <div class="box">
            <h3>広報担当書支援ツール</h3>
            <p>
              ソーシャルメディアなどの情報の収集・分析を行い広報担当者のセレンディピティなど想起させるツールの開発
            </p>
          </div>
          <div class="box">
            <h3>書籍紹介メディア</h3>
            <p>書籍の紹介するWebメディアの開発</p>
          </div>
        </div>
      </section>
      <section>
        <h2>Recruit</h2>
        <p>
          リロードという箱にはまだなにもありません。会社のこれからを一緒につくるひとを探しています。
        </p>
        <p>
          株式会社リロードではともに新しいの可能性を創る仲間を探しています。
          新卒／既卒を問わず、年間を通じて多職種の人材を募集しております。
          ミッションに興味持った方、零細企業で力を試してみたい方はお気軽にご連絡ください。
        </p>
        <table>
          <caption>ソフトウェアエンジニア/コンサルタント</caption>
          <tbody>
            <tr>
              <th>仕事内容</th>
              <td>
                <li>ITコンサルティング</li>
                <li>WEBサービス設計開発</li>
                <li>新規サービス企画・設計・開発・運用</li>
                など
              </td>
            </tr>
            <tr>
              <th>応募資格</th>
              <td>大学・大学院卒業者（予定者）</td>
            </tr>
            <tr>
              <th>雇用体系</th>
              <td>正社員</td>
            </tr>
            <tr>
              <th>勤務地</th>
              <td>神田</td>
            </tr>
            <tr>
              <th>給与</th>
              <td>月給制 年収400万〜 / 時給制 1200円〜</td>
            </tr>
            <tr>
              <th>求める人物</th>
              <td>
                <li>大胆にチャレンジし、多くの失敗から学べる方</li>
                <li>インターネットが好きな方</li>
                <li>自分で考え自分で行動できる方</li>
              </td>
            </tr>
          </tbody>
        </table>
      </section>
      <section>
        <h2>About</h2>
        <table>
          <tbody>
            <tr>
              <th>社名</th>
              <td>株式会社リロード / Reload, Inc.</td>
            </tr>
            <tr>
              <th>代表者</th>
              <td>山本翔平</td>
            </tr>
            <tr>
              <th>設立</th>
              <td>2014年8月22日</td>
            </tr>
            <tr>
              <th>事業内容</th>
              <td>インターネット関連事業</td>
            </tr>
            <tr>
              <th>資本金</th>
              <td>2,000,000円</td>
            </tr>
            <tr>
              <th>所在地</th>
              <td>〒101-0046 東京都千代田区神田多町2-9-6 第２田中ビル</td>
            </tr>
          </tbody>
        </table>
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12961.230987599669!2d139.7686963!3d35.6940438!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188dbbfaf5488f%3A0xd8136757fff9a589!2z5qCq5byP5Lya56S-44Oq44Ot44O844OJ!5e0!3m2!1sja!2sjp!4v1679589253776!5m2!1sja!2sjp"
          referrerpolicy="no-referrer-when-downgrade"
          width="600"
          height="450"
          allow-full-screen="true"
          loading="lazy"
          title="google map"></iframe>
      </section>
      <section>
        <h2>Contact</h2>
        <form id="contact">
          <div>
            <label>お名前</label>
            <input id="name" required />
          </div>
          <div>
            <label>メールアドレス</label>
            <input id="email" type="email" required />
          </div>
          <div>
            <label>お問い合わせ内容</label>
            <textarea rows="5" required id="content"></textarea>
          </div>
          <div>
            <button>送信</button>
          </div>
        </form>
      </section>
    </main>
  </body>
</html>
<footer>
  <aside>
    <p>&copy;&nbsp;Reload, Inc.</p>
  </aside>
</footer>

<script>
  import axios from "axios"
  const form = document.querySelector("form#contact")
  form?.addEventListener("submit", async (event) => {
    event.preventDefault()
    const nameElement = document.getElementById("name") as HTMLInputElement
    const emailElement = document.getElementById("email") as HTMLInputElement
    const contentElement = document.getElementById(
      "content"
    ) as HTMLTextAreaElement
    const jsonBody = JSON.stringify({
      channel: "#info",
      username: "Inquiry",
      text: "お問い合わせが届きました",
      icon_emoji: ":ghost:",
      attachments: [
        {
          fields: [
            {
              title: "名前",
              value: nameElement.value,
            },
            {
              title: "メールアドレス",
              value: emailElement.value,
            },
            {
              title: "内容",
              value: contentElement.value,
            },
          ],
          footer: "Reload inquiry",
        },
      ],
    })
    axios.post(
      "https://hooks.slack.com/services/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",
      jsonBody,
      {
        withCredentials: false,
        headers: {
          "Content-Type": undefined,
        },
      }
    )
  })
</script>
